VimL:" cscope_makefile File Template, troy, Sat 02 Jan 2016 11:57:53 PM CST
VimL:" hint: cscope_makefile-hint:
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
# Use this file to generate helpful cscope and tags files.
#
# This file is purposefully independent from the main build system so as to
# make it portable to other projects.

all: cscope.out tags

clean: 
	rm -f cscope.* tags

cscope.files:
	find $$(readlink -f ../) -name '*.[ch]' -o -name '*.[cp][cp]'-o -name '*.[ch]pp' > $@

cscope.out: cscope.files
	cscope -b -q -i cscope.files

tags: cscope.files
	ctags -L cscope.files -f $@

