VimL:" pro File Template, troy, Sun 03 Jan 2016 04:41:55 PM CST
VimL:" hint: pro-hint
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
TEMPLATE     = app
TARGET       = ¡fnamemodify(s:filename, ':t:r')¡
DEPENDPATH  += .
INCLUDEPATH += .

CONFIG += qt warn_on release

QT += core

# Input
SOURCES += <+test.c+>

unix {
  MOC_DIR = .moc
  UI_DIR  = .ui
  OBJECTS_DIR = .obj
}
