VimL:" make File Template, troy, Sun 03 Jan 2016 12:05:59 AM CST
VimL:" hint: make-hint
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:filename = s:path_from_root(expand("%:p"))
MuT: if s:filename =~? 'cscope/Makefile'
VimL:  call s:Include('cscope_makefile', 'make')
MuT: else
VimL:  call s:Include('generic_makefile', 'make')
MuT: endif
