VimL:" qmake File Template, troy, Sun 03 Jan 2016 02:34:40 PM CST
VimL:" hint: qmake-hint
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:filename = s:path_from_root(expand('%:p'))
VimL: call s:Include("header", "qmake")
VimL: let s:ext = fnamemodify(s:filename, ":e")
VimL: if s:ext =~ "pr[io]" | call s:Include(s:ext, "qmake") | endif
